#city-search {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
}

#button-search {
  background: #885df1;
  border-radius: 6px;
  border: none;
  font-size: 17px;
  font-weight: 700;
}

#city-name {
  color: #212121;
  text-align: left;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px;
  margin: 20px 0 10px;
}

.nowInfo {
  list-style: none;
  text-align: left;
  padding: 0px;
}

img {
  width: 30%;
}

#temperature {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  bottom: -20px;
}

#cel-unit {
  text-decoration: none;
  font-size: 16px;
}

.active {
  color: #212121;
  cursor: default;
}

.active:hover {
  color: #212121;
}

#fah-unit {
  text-decoration: none;
  font-size: 16px;
}

#fah-unit:hover {
  text-decoration: none;
}

.weatherInfo {
  list-style: none;
}
